@model ModelEF.Model.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {}
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper" style="padding-top:0px;">
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Chi tiết sản phẩm</h4>
                                    @using (Html.BeginForm("Details", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.ID)

                                        <div class="form-group">
                                            <img src="~/Upload/Images/@Html.DisplayFor(model => model.Image)" alt="image" style="width: 250px;height: 250px;border-radius: 100%;" />
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "text-muted" })
                                            @Html.Label(Model.ID.ToString(), new { @class = "card-title text-success" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "text-muted" })
                                            @Html.Label(Model.Name, new { @class = "card-title text-info" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UnitCost, htmlAttributes: new { @class = "text-muted" })
                                            @Html.Label(@String.Format("{0:0,0 VND}", Model.UnitCost), new { @class = "card-title text-warning" })

                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "text-muted" })
                                            @Html.Label(@String.Format("{0:0}", Model.Quantity), new { @class = "card-title text-danger" })
                                        </div>
                                        if (Model.Status != null)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "text-muted" })
                                                @Html.Label(Model.Status, new { @class = "card-title text-info" })
                                            </div>
                                        }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IDType, htmlAttributes: new { @class = "text-muted" })
                                            @Html.Label(Model.ProductType.Name, new { @class = "card-title text-info" })
                                        </div>
                                        if (Model.Descreption != null)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Descreption, htmlAttributes: new { @class = "text-muted" })
                                                @Html.Label(Model.Descreption, new { @class = "mb-0" })
                                            </div>
                                        }
                                        @Html.ActionLink("Cập nhật", "Edit", new { idPrd = Model.ID }, new { @class = "btn btn-primary mr-2" })
                                        @Html.ActionLink("Trở về", "Index", "Product", new { @class = "btn btn-outline-light btn-fw" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</body>
