@using PagedList.Mvc
@using PagedList
@model IEnumerable<ModelEF.Model.UserAccount>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {}

<style>
    .pagination li {
        margin-right: 15px;
    }   
    
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/BE/admin/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/BE/admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/BE/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/BE/admin/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/BE/admin/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">        
        <div class="container-fluid page-body-wrapper"  style="padding-top:0px;">           
            <div class="main-panel" >
                <div class="content-wrapper">
                    @using (Html.BeginForm(new { @class = "form-group" }))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="keysearch" class="form-control" placeholder="Nhập tên tài khoản" aria-label="" />
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-primary" type="submit">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Danh sách khách hàng</h4>
                                        <p class="card-description">
                                            @Html.ActionLink("Hiển thị danh sách khách hàng", "Index")
                                        </p>
                                        @if (Model.Count() == 0)
                                        {
                                            <label class="badge badge-warning">Không tìm thấy tài khoản</label>
                                        }
                                        else
                                        {
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            STT
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ID)

                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.UserName)

                                                        </th>

                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Status)

                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ var i = 1;}
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr id="row_@item.ID">
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ID)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.UserName)
                                                            </td>
                                                            <td>
                                                                @if (item.Status.Contains("Active"))
                                                                {
                                                                    @Html.ActionLink("Active", "Edit", new { id = item.ID.ToString() }, new { @class = "badge badge-success" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink("Blocked", "Edit", new { id = item.ID }, new { @class = "badge badge-danger" })
                                                                }
                                                            </td>
                                                            <td>                                                                
                                                                @Ajax.ActionLink("Xoá","Delete", new { id= item.ID }, new AjaxOptions
                                                           {
                                                               Confirm="Bạn có chắc chắn xoá tài khoản người dùng "+@item.UserName+"?",
                                                               OnComplete = "$('#row_"+@item.ID+"').remove()",
                                                               HttpMethod = "Delete"
                                                           },new { @class = "btn btn-inverse-danger btn-fw" } )
                                                                </td>
                                                        </tr>
                                                        i++;
                                                    }

                                                </tbody>
                                            </table>

                                        </div>
                                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                    }
                </div>                
            </div>
            <!-- main-panel ends -->
        </div>        
    </div>   
</body>
</html>
